.search-bar {
    width: 100%;
    display: flex;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 10px;
    background: white;
}

.search-logo-container {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-evenly;
}

.ig-icon-container {
    padding-right: 20px;
    border-right: 1px solid grey;
}

.search-input-container {

    width: 200px;
}

.search-icons-container {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    background: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.ig-logo {
    width: 100px;
    height: 40px;
}