/* .comments-section {
    padding: 0 15px 15px;
    background: white;
}

.add-comment {
    margin: 0 15px;
    padding: 15px 0;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-comment p {
    color: grey;
}

.add-comment input[type=text] {
    background: white;
    font-size: 0.8rem;
    width: 590px;
    border: none;
}

.add-comment input[type=text]:focus {
    outline: none;
} */
/* 
.comment {
    margin-bottom: 8px;
}

.username-of-comment {
    font-weight: 800;
    margin-right: 5px;
} */